body {
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../assets/background.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.search-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-input {
  padding: 15px 80px;
  border-radius: 25px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.855);
}

.search-button {
  padding: 15px 25px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgb(255, 128, 0);
  color: white;
  border: 1px solid red;
}

.search-button:hover {
  background-color: rgb(255, 98, 0);
}