.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: calc(-50vw + 50%);
    height: fit-content;
    background-color: white; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
  width: 110px;
  height: 110px;
  position: absolute;
  left: 20px;
}

.title {
  font-family: "Bungee Spice", cursive;
  font-size: 48px;
  justify-self: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

