.nav-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav-button {
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: rgb(255, 174, 0);
  border: 1px solid red;
}

.nav-button .active {
  border: 2px solid white;
  transform: scale(1.10);
}

.nav-button:hover {
  background-color: rgb(255, 132, 0);
}