.movie-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.873);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    color: black;
    padding-bottom: 10px;
    height: auto;
}

.image-container {
    position: relative;
    width: 100%;
}

.movie-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.watch-later-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
}

.watch-later-button:hover img {
    transform: scale(1.20);
}

.watch-later-button img {
    width: 42px;
    height: 42px;
}

.remove-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
}

.remove-button:hover img {
    transform: scale(1.20);
}

.remove-button img {
    width: 36px;
    height: 36px;
}

.movie-title {
    font-weight: bold;
    font-size: 20px;
}

.movie-rating {
    align-self: center;
    font-weight: bold;
    font-family: 'Limelight';
    font-size: 20px;
    padding: 2px 8px;
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

}

.high-rating {
    color: green;
    background-color: rgb(195, 248, 195);
}

.medium-rating {
    color: rgb(211, 176, 2);
    background-color: rgb(255, 245, 182);
}

.low-rating {
    color: rgb(220, 125, 0);
    background-color: rgb(255, 221, 180);
}

