.movie-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.873);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    color: black;
    padding-bottom: 10px;
    height: auto;
}

.image-container {
    position: relative;
    width: 100%;
}

.movie-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.watch-later-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
}

.watch-later-button:hover img {
    width: 45px;
    height: 45px;
}

.watch-later-button img {
    width: 40px;
    height: 40px;
}

.movie-title {
    font-weight: bold;
    font-size: 20px;
}

.movie-rating {
    align-self: center;
    font-weight: bold;
    padding: 2px 8px;
    border-radius: 10px;
}

.high-rating {
    color: green;
    background-color: rgb(179, 253, 179);
}

.medium-rating {
    color: rgb(214, 181, 15);
    background-color: rgb(255, 244, 175);
}

.low-rating {
    color: rgb(222, 127, 2);
    background-color: rgb(255, 207, 149);
}