
.filters-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.filter-dropdown {
  padding: 10px 25px;
  border-radius: 25px;
  background-color: rgb(255, 172, 17);
  font-weight: bold;
  color: white;
  font-size: 16px;
  border: 1px solid rgb(255, 0, 0);
}

.filter-dropdown:hover {
  background-color: rgb(255, 166, 0);
}